@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #2B82FB;
  --bg: #2E2E2E;
  --point : #00A150;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #2B82FB;
    --bg: #2E2E2E;
    --point : #00A150;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  margin: 0 auto;
  font-weight: 500;
  letter-spacing: -0.052;
}


body {
  background: var(--bg);
  font-family: Arial, Helvetica, sans-serif;
}
