@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #2B82FB;
  --bg: #2E2E2E;
  --point : #00A150;
  --areaBg: #222222;
  --hover : #036C36;
  --placeholder :  #767676;


}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #2B82FB;
    --bg: #2E2E2E;
    --point : #00A150;
    --areaBg: #222222;
    --hover : #036C36;
    --placeholder :  #767676;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  margin: 0 auto;
  font-weight: 500;
  line-height: 160%; /* 22.4px */
  letter-spacing: -0.35px;
  
}


body {
  background: var(--bg);
  font-family: Arial, Helvetica, sans-serif;
}


button {
  border: none;
  background: transparent;
}

button:focus,
button:active,
textarea:focus,
textarea:active,
input:focus,
input:active {
  box-shadow: none;
  outline: none;
}

ul,
ol,
li {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
